# Pandas Concatenation (pd.concat)

## What is Pandas Concatenation?
- Used to **join pandas objects** (DataFrames or Series).
- Can combine data **row-wise** or **column-wise**.

In [2]:
import pandas as pd

In [4]:
names = pd.DataFrame({'Name': ['Tom','Jack','Steve','Ricky','Sam','Will','Root']})
ages  = pd.DataFrame({'Age': [28,34,29,42,17,17,45]})

In [5]:
names

    Name
0    Tom
1   Jack
2  Steve
3  Ricky
4    Sam
5   Will
6   Root

In [6]:
ages

   Age
0   28
1   34
2   29
3   42
4   17
5   17
6   45

In [13]:
names1 = pd.DataFrame({'name':["nithi","manoje","veda"]})

In [17]:
pd.concat([names,ages],axis = 1)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
4    Sam   17
5   Will   17
6   Root   45

# Pandas Indexing

Pandas indexing is used to **select, filter, and modify data** in DataFrames and Series.

---

## 1️⃣ Column Selection
```python
df['Age']          # Single column
df[['Name','Age']] # Multiple columns

# Pandas `loc` and `iloc` Methods

Both `loc` and `iloc` are used for **indexing and selecting data** from a pandas DataFrame, but they work differently.

---

## 1️⃣ `loc` Method (Label-based)

- Uses **index labels**
- End index is **included**
- Supports **conditions**

- `loc` is based in labels , and it include end index and alos condition
- `iloc` is based on positions and excluded end index and do not allow condiitons 


### Syntax
```python
df.loc[row_label, column_label]

In [22]:
df = pd.DataFrame({
    'patient id': ['p01','p02','p03','p04','p05'],
    'age': [34, 54, 23, 54, 21],
    'gender': ['M','F','M','F','M'],
    'BP': [120, 140, 110, 150, 135]
})

In [23]:
df.loc[0]

patient id    p01
age            34
gender          M
BP            120
Name: 0, dtype: object

In [28]:
op = df[['patient id','age','gender','BP']] 
print(op)

  patient id  age gender   BP
0        p01   34      M  120
1        p02   54      F  140
2        p03   23      M  110
3        p04   54      F  150
4        p05   21      M  135

In [29]:
op   # this is the way , so that it ca be represented int he pandas taple form

  patient id  age gender   BP
0        p01   34      M  120
1        p02   54      F  140
2        p03   23      M  110
3        p04   54      F  150
4        p05   21      M  135

In [39]:
# Select multiple rows
df.loc[2:4]

  patient id  age gender   BP
2        p03   23      M  110
3        p04   54      F  150
4        p05   21      M  135

In [43]:
# Select specific columns
df.loc[3:,['patient id','age']]

  patient id  age
3        p04   54
4        p05   21

In [47]:
# Conditional selection
df.loc[df['age'] >30]

  patient id  age gender   BP
0        p01   34      M  120
1        p02   54      F  140
3        p04   54      F  150

In [49]:
# Rows + columns together
df.loc[1:4, ['patient id','BP']]

  patient id   BP
1        p02  140
2        p03  110
3        p04  150
4        p05  135

In [50]:
# Using iloc
# Select first row

df.iloc[0]

patient id    p01
age            34
gender          M
BP            120
Name: 0, dtype: object

In [51]:
# Select first 3 rows
df.iloc[0:3]

  patient id  age gender   BP
0        p01   34      M  120
1        p02   54      F  140
2        p03   23      M  110

In [59]:
df.iloc[1:, 0:3]

  patient id  age gender
1        p02   54      F
2        p03   23      M
3        p04   54      F
4        p05   21      M