### Python Function Structure – Explanation

A function in Python is defined using the `def` keyword. It allows us to group reusable code into a single block.

- **`def` keyword**  
  Used to define a function in Python.

- **Function name (`DoSomething`)**  
  Identifies the function. This name is used to call the function later.

- **Parentheses `()`**  
  Used to pass input values (parameters) to the function. Empty parentheses mean no inputs.

- **Colon `:`**  
  Indicates the start of the function body.

- **Indentation**  
  All statements inside the function must be indented. Indentation defines the function body in Python.

- **Assignment statement (`value = 1`)**  
  Assigns a value to a variable inside the function.

- **Return statement (`return value`)**  
  Sends the result back to the caller. Without a return statement, the function returns `None`.

**Example function:**
```python
def DoSomething():
    value = 1
    return value

### Understanding User-Defined Functions in Python (`def`)

Using the `def` statement, we can create **user-defined functions** in Python. These functions allow us to reuse logic by keeping some parts **fixed** and changing other parts using **input values (parameters)**.

---

### What does `def` do?
- `def` is used to **define a function**
- It allows us to create our **own functions**
- These functions can take inputs, perform operations, and give output

---

### Example: Function with a fixed ID and variable name

```python
def my_ID(name):
    print("CR001_" + name)

In [6]:
def function(): #function defining
    print("hello i am your function")

In [7]:
function() #output of the function

hello i am your function

In [13]:
def my_name(user_id):
    print("nithi_" + str(user_id))

my_name(200231)

nithi_200231

In [14]:
def my_id(name):
    print("2022_" + str(name))

my_id("nithi")

2022_nithi

In [17]:
def my_id(STUDYID, USUBJID, SITEID, COUNTRY):
    return f"21p5_{STUDYID}{USUBJID}{SITEID}{COUNTRY}"

uid = my_id("22021_", "qurent_", "bangalore_", "india_")
print(uid)

21p5_22021_qurent_bangalore_india_

### Lambda Function in Python

A **lambda function** is a **small, anonymous function** written in **one single line**.  
It is used when a function is **simple** and needed for a **short time**.

---

### General Syntax
```python
lambda arguments : expression

In [23]:
def add(a,b,c):          #lambda function
    print(a + b + c)

add(4,9,2)

# add = lambda a,b,c : print(a+b+c)
# add(3,4,5)

12

## `map()` Function – All Common Usage Scenarios with Examples

The `map()` function applies a given function to **each element of an iterable** (list, tuple, etc.) and returns a map object.

---

## 1. Using `map()` with a normal function (your example)

```python
numbers = (1,2,3,4,5,6,7,8,9)

def sq(n):
    return n * n

square = map(sq, numbers)
print(list(square))

In [24]:
# map function
number = 1,2,3,4,5,6,7,8,9

def sq(n):
    return n*n
square = map(sq ,number)

print(list(square))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
numbers = [1, 2, 3, 4, 5]  #Using map() with lambda 

square = list(map(lambda x: x * x, numbers))
print(square)

[1, 4, 9, 16, 25]

In [27]:
values = ["1", "2", "3", "4"]  #Convert strings to integers

nums = list(map(int, values))
print(nums)

[1, 2, 3, 4]

In [28]:
a = [1, 2, 3]   #Using map() with multiple iterables
b = [4, 5, 6]

result = list(map(lambda x, y: x + y, a, b))
print(result)

[5, 7, 9]

In [29]:
names = ["nithi", "rahul", "sita"]  # String manipulation using map()

upper_names = list(map(str.upper, names))
print(upper_names)

['NITHI', 'RAHUL', 'SITA']

In [30]:
numbers = [10, 15, 20, 25]  #Conditional logic using map()

result = list(map(lambda x: "Even" if x % 2 == 0 else "Odd", numbers))
print(result)

['Even', 'Odd', 'Even', 'Odd']

In [31]:
ages = [12, 25, 17, 40]   #Clinical EXAMPLE

groups = list(map(lambda x: "Adult" if x >= 18 else "Pediatric", ages))
print(groups)

['Pediatric', 'Adult', 'Pediatric', 'Adult']

## `zip()` Function – Using It for Tables and Graphs

The `zip()` function is used to **combine multiple iterables column-wise**.  
It is extremely useful when you want to create **rows for tables** or **X–Y pairs for graphs**.

---

## General Syntax
```python
zip(iterable1, iterable2, ...)

In [34]:
# zip function

name = "nithi","annupama", "gagana", "ganavi", "mammitha"
id = 1,2,3,4,5

mapped = zip(name,id)

print(list(mapped))

[('nithi', 1), ('annupama', 2), ('gagana', 3), ('ganavi', 4), ('mammitha', 5)]

In [48]:
subject_id = ["SUB001", "SUB002", "SUB003"]
age = [23, 32, 21]
gender = ["M", "F", "M"]

table = list(zip(subject_id, age, gender))
print(table)

import pandas as pd

df = pd.DataFrame(
    table,
    columns=["USUBJID", "AGE", "SEX"],
    index=[1,2,3]
)
df

[('SUB001', 23, 'M'), ('SUB002', 32, 'F'), ('SUB003', 21, 'M')]

  USUBJID  AGE SEX
1  SUB001   23   M
2  SUB002   32   F
3  SUB003   21   M