# ðŸ“Š Outlier Handling Using IQR Method

---

## 1ï¸âƒ£ Dataset

```python
import numpy as np

data = [1, 2, 3, 4, 5, 6, 9, 10, 12, 55, 60]
data

In [1]:
import numpy as np

data = [1, 2, 3, 4, 5, 6, 9, 10, 12, 55, 60]
data

[1, 2, 3, 4, 5, 6, 9, 10, 12, 55, 60]

In [2]:
Q1 = np.percentile(data,25)

In [3]:
Q1

np.float64(3.5)

In [5]:
Q3 = np.percentile(data,75)

In [6]:
Q3

np.float64(11.0)

In [7]:
Q1 + Q3

np.float64(14.5)

In [11]:
IQR = Q3 - Q1

# Formula:
 ### Lower limit  = Q1 âˆ’ 1.5 Ã— IQR
 ### Upper limit  = Q3 + 1.5 Ã— IQR

In [12]:
low = Q1 - 1.5 * IQR
upp = Q3 + 1.5 * IQR

In [13]:
low,upp

(np.float64(-7.75), np.float64(22.25))

In [17]:
Outliers = []

In [15]:
data

[1, 2, 3, 4, 5, 6, 9, 10, 12, 55, 60]

In [18]:
#  Detect Outliers Using Loop

for i in data:
    if ((i > upp) or (i < low)):
        Outliers.append(i)

In [20]:
low  = 7.75
upp  = 22.25

In [23]:
# Remove Outliers (List Comprehension)

list_ = [i for i in data if i not in Outliers]
list_

[1, 2, 3, 4, 5, 6, 9, 10, 12]

# ðŸ” EDA â€” Handling Duplicate Values

Duplicate values are repeated records in a dataset.  
They can distort analysis, statistics, and model performance.

---

## 1ï¸âƒ£ Import Libraries

```python
import pandas as pd

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame({
    'team': ['A','A','A','A','B','B','B','B'],
    'points': [10,10,12,12,15,17,20,20],
    'assists': [5,5,7,9,12,9,6,6]
})

In [4]:
data[data.duplicated()]

  team  points  assists
1    A      10        5
7    B      20        6

In [5]:
data[data.duplicated('team')]

  team  points  assists
1    A      10        5
2    A      12        7
3    A      12        9
5    B      17        9
6    B      20        6
7    B      20        6

In [7]:
data[data.duplicated(['team','points'])]

  team  points  assists
1    A      10        5
3    A      12        9
7    B      20        6

In [10]:
data.drop_duplicates()

  team  points  assists
0    A      10        5
2    A      12        7
3    A      12        9
4    B      15       12
5    B      17        9
6    B      20        6

In [11]:
data.drop_duplicates('team')

  team  points  assists
0    A      10        5
4    B      15       12

In [12]:
data.drop_duplicates(['team','points'])

  team  points  assists
0    A      10        5
2    A      12        7
4    B      15       12
5    B      17        9
6    B      20        6