# Python Basics to advanced day01

In [1]:
print('hello world')

hello world

In [3]:
student01 ={"ramesh",21,"b.com"} #dict data type 
student02 =("suresh",20,"diploma") #set data type and it can be moified
student03 =["ammulya",21,"b pharm"]

In [26]:
type(student01) #typre statment is used to theck the data type

dict

In [21]:
student01 = {
    'name': 'ramesh',
    'age': 21,
    'gender': 'male'
}

In [22]:
student01.keys()

dict_keys(['name', 'age', 'gender'])

In [24]:
bool(9)

True

In [25]:
# Arthmetic operation 

# These are the arthamatic operation which are used to calculation part it includes (+,-,*,/,%,**)

# Lets assume the x=4 and y=8

x = 4
y = 8

print (x+y,x-y,x*y,x/y,x%y,x**y)

12 -4 32 0.5 4 65536

In [32]:
# assignment operators (=,=+,=-,=*,=/,=%,=**)       #used to assign the values to the variables

x,y = 5,6

x += y   # x = x + y
x -= y   # x = x - y
x *= y   # x = x * y
x /= y   # x = x / y
x %= y   # x = x % y
x **= y  # x = x ** y

print(x)

15625.0

In [33]:
x =- y   # x becomes -6
x =+ y   # x becomes +6
print(x) # Output: 6

6

In [39]:
# comparison operators (!=,==,>,<,<=,>=)          #used to compare two values

x,y = 5,6

x < y
x > y

False

In [46]:
# logical operatore (=,=+,=-,=*,=/,=%,=**)                     # used in condition statment

# logical operators inclured (x or y,x and y, not y)           #logical operators area used to perform logical functions

x,y = 5,6

(x < y) or (x == y) #or

(x < y) and (x == y) #and

not((x < y) and (x == y)) #not

True

In [52]:
# membership operators (=,=+,=-,=*,=/,=%,=**)

# print (x in y) , (x not in y)

x = [1,2,3,4,5,6,7,8,9,10,11,23,45]
y = 99

y not in x # not in
y in x # in

True