# Python Basics to Advanced â€“ Day 01

In [1]:
print('hello world')

hello world

In [2]:
student01 = {"ramesh", 21, "b.com"}      # set data type (unordered, mutable)
student02 = ("suresh", 20, "diploma")   # tuple data type (ordered, immutable)
student03 = ["ammulya", 21, "b pharm"] # list data type (ordered, mutable)

In [3]:
type(student01)  # type() is used to check the data type

set

In [4]:
student01 = {
    "name": "ramesh",
    "age": 21,
    "gender": "male"
}

In [5]:
student01.keys()  # returns all dictionary keys

dict_keys(['name', 'age', 'gender'])

In [6]:
bool(9)  # non-zero values return True

True

In [7]:
# Arithmetic operators (+, -, *, /, %, **)

x = 4
y = 8

print(x + y)   # addition
print(x - y)   # subtraction
print(x * y)   # multiplication
print(x / y)   # division
print(x % y)   # modulus
print(x ** y)  # exponent

12 -4 32 0.5 4 65536

In [8]:
# Assignment operators

x = 5
y = 6

x += y
x -= y
x *= y
x /= y
x %= y
x **= y

print(x)

15625.0

In [9]:
# Unary operators

x = -y  # assigns negative value
x = +y  # assigns positive value

print(x)

6

In [10]:
# Comparison operators

x = 5
y = 6

x > y

False

In [11]:
# Logical operators (and, or, not)

x = 5
y = 6

(x < y) or (x == y)
(x < y) and (x == y)
not(x < y)

True

In [12]:
# Membership operators (in, not in)

x = [1,2,3,4,5,6,7,8,9,10,11,23,45]
y = 99

y not in x
y in x

True