<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'

In [3]:
# print the value of a

In [4]:
# print the type of a

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [1]:
launguages = ['R','Python', 'SAS', 'Scala', 42]
print(launguages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [2]:
launguages = ['R','Python', 'SAS', 'Scala', 42]

for x in launguages:
    print(x)

R
Python
SAS
Scala
42

Using for loop iterate and print all the elements in the list

In [20]:
for x in launguages:
    if x == "Python":
        temp = x

Select the second item, 'Python' and store it in a new variable named 'temp'

In [21]:
print(temp)

Python

Print the value of temp and type(temp)

In [23]:
launguages.append("java")
print(launguages)

['R', 'Python', 'SAS', 'Scala', 42, 'java', 'java']

Append the element 'Java' in the list

In [32]:
launguages.pop(2)
print(launguages)

['R', 'Python', 'Scala', 'java', 'java']

Remove the element 42 from the list and print the list

In [49]:
colour = ["red", "blue", "white"]

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [51]:
colour.append("Black")
print(colour)

['red', 'blue', 'white', 'Black', 'Black']

Append the element 'Black' to colors

In [53]:
colour.append("orange")
print(colour)

['red', 'blue', 'white', 'Black', 'Black', 'orange', 'orange']

Append the color 'Orange' to second position (index=1) and print the list

In [54]:
print(colour)

['red', 'blue', 'white', 'Black', 'Black', 'orange', 'orange']

Print the list

In [55]:
colour2 = ["grey", "sky Blue"]

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [57]:
colour.extend(colour2)
print(colour)

['red', 'blue', 'white', 'Black', 'Black', 'orange', 'orange', 'grey', 'sky Blue', 'grey', 'sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [58]:
print(len(colour))

11

Print len of colors and its elements

In [60]:
colour.sort()
print(colour)

['Black', 'Black', 'blue', 'grey', 'grey', 'orange', 'orange', 'red', 'sky Blue', 'sky Blue', 'white']

Sort the list and print it.

In [61]:
print(colour)

['Black', 'Black', 'blue', 'grey', 'grey', 'orange', 'orange', 'red', 'sky Blue', 'sky Blue', 'white']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [70]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [80]:
words_lower = [word.lower() for word in sent.split()]

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [81]:
'country' in words_lower

False

Check whether ‚Äòcountry‚Äô is in the list

In [82]:
words_lower.remove('the')

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [83]:

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [89]:
x4 = words_lower[:4]

In [90]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [93]:
single_string = " ".join(x4)
print(single_string)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [97]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [98]:
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Create a new variable, stud_grades_set = set(stud_grades)

In [100]:
stud_grades_set = set(stud_grades)

{'B', 'C', 'F', 'A'}

Print stud_grades_set.

In [101]:
print(stud_grades_set)

{'B', 'C', 'F', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [108]:
print(type(stud_grades_set))
print(type(stud_grades))

print(stud_grades_set)
print(stud_grades)

<class 'set'>
<class 'list'>
{'B', 'C', 'F', 'A'}
['A', 'A', 'B', 'C', 'C', 'F']

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [109]:
stud_grades_set.update('G')

Add element 'F' to stud_grades_set. and print it.

In [110]:
stud_grades_set.update('F')
print(stud_grades_set)

{'A', 'C', 'B', 'G', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [111]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [112]:
print(stud_grades_set)

{'A', 'C', 'B', 'G'}

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [126]:
colour = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [127]:
print(colour, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [130]:
colors_set = set(colour)
fruits_set = set(fruits)

Find the union of both the sets.

In [138]:
union_set = colors_set.union(fruits_set)
print(union_set)

{'blue', 'grapes', 'red', 'apples', 'orange'}

Find the intersection of both the sets

In [141]:
common_set = colors_set.intersection(fruits_set)
print(common_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [145]:
difference_set = fruits_set.difference(colors_set)

{'grapes', 'apples'}

In [146]:
print(difference_set)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [148]:
temp = (17, 'virat', 50.0)

Iterate through temp and print all the items in temp

In [153]:
x = list(temp)
x[0] = 11
temp = tuple(x)
print(temp)

(11, 'virat', 50.0)

replace first element with 11 in temp

In [154]:
temp1 = tuple(temp)

Set temp1 = tuple(temp)

In [158]:
print(temp1)

(11, 'virat', 50.0)

Iterate through temp1 and print all the items in temp1.

### Create city = ("Bangalore", 28.9949521, 72)

In [159]:
city = ("Banglore", 28.9949521, 72)

Print first element of city

In [161]:
first_element = city[0]
print(first_element)

Banglore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [162]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [165]:
cities = city + city2

('Banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print cities

In [166]:
print(cities)

('Banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [168]:
print(type(cities))

<class 'tuple'>

print the type of cities

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [21]:
d = {
    "actor": "amir",
    "animal": "cat",
    "earth": 2,
    "list": [23, 32, 12]
}

Print the value of d[0]

In [171]:
print(list(d.values())[0])

amir

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [4]:
actor = d['actor']

amir

Print the type of actor

In [5]:
print(actor)

amir

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [6]:
actor = d['list']

Print the type of List.

In [7]:
print(actor)

[23, 32, 12]

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [15]:
d1 = {'singer':'kr$na','album':'still hear','genre':'hip-hop'}

Merge d1 into d.

In [23]:
d.update(d1)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kr$na', 'album': 'still hear', 'genre': 'hip-hop'}

print d

In [24]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kr$na', 'album': 'still hear', 'genre': 'hip-hop'}

Print all the keys in d

In [25]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kr$na', 'album': 'still hear', 'genre': 'hip-hop'}

Print all the values in d

In [32]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> kr$na
album ----> still hear
genre ----> hip-hop

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [40]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> kr$na
album ----> still hear
genre ----> hip-hop